Repository jesse-lee-media/wedding-day-content-co: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix, stylelint --fix

feat: add initial client collection
  package.json
  pnpm-lock.yaml
  src/payload/collections/client.ts
  src/payload/collections/form-submissions.ts
  src/payload/collections/forms.ts
  src/payload/payload-types.ts
  src/payload/payload.config.ts
Due: prettier --write --ignore-unknown, eslint --fix

chore: generate migrations
  src/payload/migrations/20250224_201938.json
  src/payload/migrations/20250224_201938.ts
  src/payload/migrations/index.ts
Due: prettier --write --ignore-unknown, eslint --fix

chore: add CODEOWNERS
  .github/CODEOWNERS
Due: prettier --write --ignore-unknown

fix: small updates
  src/components/blocks/form/form.client.tsx
  src/lib/api/pages.ts
  src/payload/collections/clients.ts
  src/payload/collections/forms.ts
  src/payload/collections/media.ts
  src/payload/collections/pages.ts
  src/payload/migrations/20250224_215726.json
  src/payload/migrations/20250224_215726.ts
  src/payload/migrations/index.ts
  src/payload/payload-types.ts
  src/payload/payload.config.ts
Due: prettier --write --ignore-unknown, eslint --fix

fix: access type error
  src/payload/access/index.ts
Due: prettier --write --ignore-unknown, eslint --fix

chore: add new build scripts
  package.json
Due: prettier --write --ignore-unknown

chore: update dependencies
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/app/(payload)/admin/importMap.js
  stylelint.config.mjs
Due: prettier --write --ignore-unknown, eslint --fix

refactor: update icons
  src/components/blocks/form/form.client.tsx
  src/components/blocks/image-links.tsx
  src/components/footer/faqs-loading.tsx
  src/components/navigation.tsx
  src/lib/components/accordion.tsx
  src/lib/components/blockquote.tsx
  src/lib/components/calendar.tsx
  src/lib/components/carousel.tsx
  src/lib/components/icons/arrow-left.tsx
  src/lib/components/icons/arrow-right.tsx
  src/lib/components/icons/arrow-up-right.tsx
  src/lib/components/icons/calendar.tsx
  src/lib/components/icons/circle.tsx
  src/lib/components/icons/index.tsx
  src/lib/components/icons/instagram.tsx
  src/lib/components/icons/menu.tsx
  src/lib/components/icons/nav-arrow-down.tsx
  src/lib/components/icons/nav-arrow-left.tsx
  src/lib/components/icons/nav-arrow-right.tsx
  src/lib/components/icons/nav-arrow-up.tsx
  src/lib/components/icons/quote-solid.tsx
  src/lib/components/icons/tiktok.tsx
  src/lib/components/icons/x-mark.tsx
  src/lib/components/input.tsx
  src/lib/components/radio-group.tsx
  src/lib/components/select.tsx
  src/lib/providers/index.tsx
  src/lib/types/base-props.ts
  src/payload/fields/buttonLink.ts
  src/payload/payload-types.ts
Due: prettier --write --ignore-unknown, eslint --fix

refactor: update font
  public/font/DTNightingale.ttf
  public/font/Zodiak-Variable.ttf
  src/app/(site)/globals.css
  src/app/(site)/layout.tsx
  src/components/blocks/stepper.tsx
Due: prettier --write --ignore-unknown, eslint --fix, stylelint --fix

feat: add phone number to clients
  src/payload/collections/clients.ts
  src/payload/collections/form-submissions.ts
  src/payload/payload-types.ts
Due: prettier --write --ignore-unknown, eslint --fix

chore: remove unused provider
  src/lib/providers/navigation.tsx
Due: prettier --write --ignore-unknown, eslint --fix

chore: remove migrations
  src/payload/migrations/20250224_201938.json
  src/payload/migrations/20250224_201938.ts
  src/payload/migrations/20250224_215726.json
  src/payload/migrations/20250224_215726.ts
  src/payload/migrations/index.ts
Due: prettier --write --ignore-unknown, eslint --fix

fix: update pages to use path instead of slug
  src/app/(site)/(sitemaps)/pages-sitemap.xml/route.ts
  src/app/(site)/[[...slug]]/page.tsx
  src/app/(site)/next/preview/route.ts
  src/payload/collections/pages.ts
  src/payload/payload-types.ts
  src/payload/utils/generate-preview-path.ts
Due: prettier --write --ignore-unknown, eslint --fix

chore: update build:clean script
  package.json
Due: prettier --write --ignore-unknown

refactor: update form block slug
  src/components/rich-text/index.tsx
  src/payload/blocks/form.ts
  src/payload/payload-types.ts
Due: prettier --write --ignore-unknown, eslint --fix

refactor: update styles
  src/app/(site)/globals.css
  src/components/navigation.tsx
Due: prettier --write --ignore-unknown, eslint --fix, stylelint --fix

chore: update dependencies
  next.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown

fix: hooks and autosave
  src/payload/collections/faqs.ts
  src/payload/collections/form-submissions.ts
  src/payload/collections/forms.ts
  src/payload/collections/pages.ts
Due: prettier --write --ignore-unknown, eslint --fix

feat: add video support
  next.config.mjs
  src/components/blocks/gallery.tsx
  src/components/blocks/hero.tsx
  src/components/blocks/image-links.tsx
  src/components/blocks/image-stack.tsx
  src/components/blocks/media-links.tsx
  src/components/blocks/media-stack.tsx
  src/components/rich-text/index.tsx
  src/env/server.ts
  src/lib/components/payload-image.tsx
  src/lib/components/payload-media.tsx
  src/lib/components/payload-video.tsx
  src/lib/types/strip-string.ts
  src/lib/utils/is-relationship-populated.ts
  src/payload/blocks/gallery.ts
  src/payload/blocks/hero.ts
  src/payload/blocks/media-links.ts
  src/payload/blocks/media-stack.ts
  src/payload/blocks/section.ts
  src/payload/collections/images.ts
  src/payload/collections/pages.ts
  src/payload/collections/videos.ts
  src/payload/hooks/add-data-url.ts
  src/payload/payload-types.ts
  src/payload/payload.config.ts
  src/payload/utils/create-data-url.ts
Due: prettier --write --ignore-unknown, eslint --fix

refactor: update header design
  src/app/(site)/globals.css
  src/app/(site)/layout.tsx
  src/components/blocks/gallery.tsx
  src/components/blocks/hero.tsx
  src/components/blocks/media-links.tsx
  src/components/blocks/media-stack.tsx
  src/components/blocks/section.tsx
  src/lib/components/payload-image.tsx
  src/lib/components/payload-media.tsx
  src/lib/components/payload-video.tsx
  src/payload/blocks/hero.ts
  src/payload/fields/buttonLink.ts
  src/payload/payload-types.ts
Due: prettier --write --ignore-unknown, eslint --fix, stylelint --fix

chore: create migrations
  src/payload/migrations/20250316_184729.json
  src/payload/migrations/20250316_184729.ts
  src/payload/migrations/index.ts
Due: prettier --write --ignore-unknown, eslint --fix

fix: after change hooks checks
  src/payload/collections/form-submissions.ts
  src/payload/collections/pages.ts
Due: prettier --write --ignore-unknown, eslint --fix

fix: set slug in field hook
  src/payload/collections/pages.ts
Due: prettier --write --ignore-unknown, eslint --fix

fix: enable client upload to bypass vercel 4.5mb limit
  src/payload/payload.config.ts
Due: prettier --write --ignore-unknown, eslint --fix

fix: media optional check and style fix
  src/components/blocks/gallery.tsx
  src/components/blocks/hero.tsx
  src/components/blocks/media-stack.tsx
Due: prettier --write --ignore-unknown, eslint --fix

refactor: remove optimized video pipeline
  src/lib/components/payload-video.tsx
  src/payload/collections/videos.ts
  src/payload/migrations/20250318_213941.json
  src/payload/migrations/20250318_213941.ts
  src/payload/migrations/index.ts
  src/payload/payload-types.ts
Due: prettier --write --ignore-unknown, eslint --fix

fix: remove autosave
  src/payload/collections/pages.ts
  src/payload/migrations/20250318_214044.json
  src/payload/migrations/20250318_214044.ts
  src/payload/migrations/index.ts
Due: prettier --write --ignore-unknown, eslint --fix

ci: add permissions
  .github/workflows/ci.yml
Due: prettier --write --ignore-unknown

fix: media components and video service (#19)
  .github/workflows/ci.yml
  src/components/blocks/gallery.tsx
  src/components/blocks/hero.tsx
  src/components/blocks/media-stack.tsx
  src/lib/components/payload-video.tsx
  src/payload/collections/pages.ts
  src/payload/collections/videos.ts
  src/payload/migrations/20250318_213941.json
  src/payload/migrations/20250318_213941.ts
  src/payload/migrations/20250318_214044.json
  src/payload/migrations/20250318_214044.ts
  src/payload/migrations/index.ts
  src/payload/payload-types.ts
Due: prettier --write --ignore-unknown, eslint --fix

fix: disable pointer events on video
  src/lib/components/payload-video.tsx
Due: prettier --write --ignore-unknown, eslint --fix

fix: properly revalidate home path
  src/payload/collections/pages.ts
Due: prettier --write --ignore-unknown, eslint --fix

fix: properly revalidate home path (#20)
  src/lib/components/payload-video.tsx
  src/payload/collections/pages.ts
Due: prettier --write --ignore-unknown, eslint --fix

chore: update dependencies
  package.json
  pnpm-lock.yaml
  src/payload/payload-types.ts
Due: prettier --write --ignore-unknown, eslint --fix

chore: update dependencies (#22)
  package.json
  pnpm-lock.yaml
  src/payload/payload-types.ts
Due: prettier --write --ignore-unknown, eslint --fix

chore: remove git branch mappings
  .infisical.json
Due: prettier --write --ignore-unknown

refactor: update styles, colors, and icons
  src/app/(site)/globals.css
  src/app/(site)/layout.tsx
  src/components/blocks/form/form.client.tsx
  src/components/blocks/messages-marquee.tsx
  src/components/blocks/section.tsx
  src/components/blocks/stepper.tsx
  src/components/footer/faq-accordion.tsx
  src/components/footer/faq-section.tsx
  src/components/footer/faqs-loading.tsx
  src/components/footer/index.tsx
  src/components/navigation.tsx
  src/lib/components/accordion.tsx
  src/lib/components/blockquote.tsx
  src/lib/components/breadcrumbs.tsx
  src/lib/components/button.tsx
  src/lib/components/calendar.tsx
  src/lib/components/icons/arrow-left.tsx
  src/lib/components/icons/arrow-right.tsx
  src/lib/components/icons/calendar-check.tsx
  src/lib/components/icons/calendar.tsx
  src/lib/components/icons/index.tsx
  src/lib/components/icons/menu.tsx
  src/lib/components/icons/nav-arrow-down-small.tsx
  src/lib/components/icons/nav-arrow-down.tsx
  src/lib/components/icons/nav-arrow-left.tsx
  src/lib/components/icons/nav-arrow-right.tsx
  src/lib/components/icons/nav-arrow-up.tsx
  src/lib/components/icons/quote-solid.tsx
  src/lib/components/icons/x-mark.tsx
  src/lib/components/input.tsx
  src/lib/components/label.tsx
  src/lib/components/marquee.tsx
  src/lib/components/popover.tsx
  src/lib/components/radio-group.tsx
  src/lib/components/select.tsx
  src/lib/components/textarea.tsx
  src/payload/components/form-submission-email-template.tsx
  src/payload/fields/buttonLink.ts
  src/payload/payload-types.ts
Due: prettier --write --ignore-unknown, eslint --fix, stylelint --fix

refactor: update styles, colors, and icons (#23)
  .infisical.json
  src/app/(site)/globals.css
  src/app/(site)/layout.tsx
  src/components/blocks/form/form.client.tsx
  src/components/blocks/messages-marquee.tsx
  src/components/blocks/section.tsx
  src/components/blocks/stepper.tsx
  src/components/footer/faq-accordion.tsx
  src/components/footer/faq-section.tsx
  src/components/footer/faqs-loading.tsx
  src/components/footer/index.tsx
  src/components/navigation.tsx
  src/lib/components/accordion.tsx
  src/lib/components/blockquote.tsx
  src/lib/components/breadcrumbs.tsx
  src/lib/components/button.tsx
  src/lib/components/calendar.tsx
  src/lib/components/icons/arrow-left.tsx
  src/lib/components/icons/arrow-right.tsx
  src/lib/components/icons/calendar-check.tsx
  src/lib/components/icons/calendar.tsx
  src/lib/components/icons/index.tsx
  src/lib/components/icons/menu.tsx
  src/lib/components/icons/nav-arrow-down-small.tsx
  src/lib/components/icons/nav-arrow-down.tsx
  src/lib/components/icons/nav-arrow-left.tsx
  src/lib/components/icons/nav-arrow-right.tsx
  src/lib/components/icons/nav-arrow-up.tsx
  src/lib/components/icons/quote-solid.tsx
  src/lib/components/icons/x-mark.tsx
  src/lib/components/input.tsx
  src/lib/components/label.tsx
  src/lib/components/marquee.tsx
  src/lib/components/popover.tsx
  src/lib/components/radio-group.tsx
  src/lib/components/select.tsx
  src/lib/components/textarea.tsx
  src/payload/components/form-submission-email-template.tsx
  src/payload/fields/buttonLink.ts
  src/payload/payload-types.ts
Due: prettier --write --ignore-unknown, eslint --fix, stylelint --fix

chore: update dependencies
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/app/(payload)/admin/importMap.js
  src/payload/payload-types.ts
Due: prettier --write --ignore-unknown, eslint --fix

fix: code clean up
  src/payload/collections/images.ts
  src/payload/collections/pages.ts
  src/payload/utils/deep-merge.ts
Due: prettier --write --ignore-unknown, eslint --fix

Path conditions:
  prettier --write --ignore-unknown: any of: *
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.css
