Repository jesse-lee-media/wedding-day-content-co: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*": "prettier --write --ignore-unknown",
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.css": "stylelint --fix"
}

chore: relocate icons
  src/app/(site)/not-found.tsx
  src/components/blocks/media-links.tsx
  src/components/footer/faqs-loading.tsx
  src/components/navigation.tsx
  src/icons/arrow-left.tsx
  src/icons/arrow-right.tsx
  src/icons/arrow-up-right.tsx
  src/icons/calendar-check.tsx
  src/icons/calendar.tsx
  src/icons/circle.tsx
  src/icons/index.tsx
  src/icons/instagram.tsx
  src/icons/menu.tsx
  src/icons/nav-arrow-down-small.tsx
  src/icons/nav-arrow-down.tsx
  src/icons/nav-arrow-left.tsx
  src/icons/nav-arrow-right.tsx
  src/icons/nav-arrow-up.tsx
  src/icons/quote-solid.tsx
  src/icons/tiktok.tsx
  src/icons/x-mark.tsx
  src/lib/components/accordion.tsx
  src/lib/components/blockquote.tsx
  src/lib/components/calendar.tsx
  src/lib/components/carousel.tsx
  src/lib/components/input.tsx
  src/lib/components/payload-button-link.tsx
  src/lib/components/radio-group.tsx
  src/lib/components/select.tsx
Due: prettier --write --ignore-unknown, eslint --fix

chore: relocate ui components
  src/app/(site)/[[...slug]]/page.tsx
  src/app/(site)/layout.tsx
  src/app/(site)/not-found.tsx
  src/components/blocks/button-link.tsx
  src/components/blocks/form/form.client.tsx
  src/components/blocks/gallery.tsx
  src/components/blocks/hero.tsx
  src/components/blocks/media-links.tsx
  src/components/blocks/media-stack.tsx
  src/components/blocks/messages-marquee.tsx
  src/components/blocks/quotes.tsx
  src/components/footer/faq-accordion.tsx
  src/components/footer/index.tsx
  src/components/navigation.tsx
  src/components/ui/accordion.tsx
  src/components/ui/blockquote.tsx
  src/components/ui/breadcrumbs.tsx
  src/components/ui/button.tsx
  src/components/ui/calendar.tsx
  src/components/ui/carousel.tsx
  src/components/ui/form.tsx
  src/components/ui/input.tsx
  src/components/ui/label.tsx
  src/components/ui/marquee.tsx
  src/components/ui/overflow-text.tsx
  src/components/ui/payload-button-link.tsx
  src/components/ui/payload-image.tsx
  src/components/ui/payload-link.tsx
  src/components/ui/payload-media.tsx
  src/components/ui/payload-video.tsx
  src/components/ui/polaroid-image.tsx
  src/components/ui/popover.tsx
  src/components/ui/radio-group.tsx
  src/components/ui/select.tsx
  src/components/ui/spinner.tsx
  src/components/ui/textarea.tsx
  src/components/ui/toaster.tsx
  src/components/ui/visually-hidden.tsx
Due: prettier --write --ignore-unknown, eslint --fix

chore: relocate config
  src/config/tailwind-email.ts
  src/payload/components/form-submission-email-template.tsx
Due: prettier --write --ignore-unknown, eslint --fix

chore: relocate types
  src/components/blocks/gallery.tsx
  src/components/blocks/media-stack.tsx
  src/types/strip-string.ts
Due: prettier --write --ignore-unknown, eslint --fix

chore: update dependencies
  next.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown

feat: add mux video
  package.json
  pnpm-lock.yaml
  src/app/(payload)/admin/importMap.js
  src/app/(site)/globals.css
  src/components/blocks/hero.tsx
  src/components/ui/payload-media.tsx
  src/components/ui/payload-mux-video.tsx
  src/components/ui/payload-video.tsx
  src/env/server.ts
  src/payload/blocks/gallery.ts
  src/payload/blocks/hero.ts
  src/payload/blocks/media-links.ts
  src/payload/blocks/media-stack.ts
  src/payload/collections/videos.ts
  src/payload/payload-types.ts
  src/payload/payload.config.ts
Due: prettier --write --ignore-unknown, eslint --fix, stylelint --fix

chore: create migrations
  src/payload/migrations/20250419_165441.json
  src/payload/migrations/20250419_165441.ts
  src/payload/migrations/index.ts
Due: prettier --write --ignore-unknown, eslint --fix

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown

fix: optional checks
  src/components/ui/payload-mux-video.tsx
Due: prettier --write --ignore-unknown, eslint --fix

fix: video streaming (#26)
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/app/(payload)/admin/importMap.js
  src/app/(site)/globals.css
  src/components/blocks/hero.tsx
  src/components/ui/payload-media.tsx
  src/components/ui/payload-mux-video.tsx
  src/components/ui/payload-video.tsx
  src/env/server.ts
  src/payload/blocks/gallery.ts
  src/payload/blocks/hero.ts
  src/payload/blocks/media-links.ts
  src/payload/blocks/media-stack.ts
  src/payload/collections/videos.ts
  src/payload/migrations/20250419_165441.json
  src/payload/migrations/20250419_165441.ts
  src/payload/migrations/index.ts
  src/payload/payload-types.ts
  src/payload/payload.config.ts
Due: prettier --write --ignore-unknown, eslint --fix, stylelint --fix

fix: update vercel env
  src/env/server.ts
Due: prettier --write --ignore-unknown, eslint --fix

ci: update branch target
  .github/workflows/ci.yml
Due: prettier --write --ignore-unknown

fix: vercel env (#27)
  .github/workflows/ci.yml
  src/env/server.ts
Due: prettier --write --ignore-unknown, eslint --fix

feat: video streaming (#28)
  .github/workflows/ci.yml
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/app/(payload)/admin/importMap.js
  src/app/(site)/globals.css
  src/components/blocks/hero.tsx
  src/components/ui/payload-media.tsx
  src/components/ui/payload-mux-video.tsx
  src/components/ui/payload-video.tsx
  src/env/server.ts
  src/payload/blocks/gallery.ts
  src/payload/blocks/hero.ts
  src/payload/blocks/media-links.ts
  src/payload/blocks/media-stack.ts
  src/payload/collections/videos.ts
  src/payload/migrations/20250419_165441.json
  src/payload/migrations/20250419_165441.ts
  src/payload/migrations/index.ts
  src/payload/payload-types.ts
  src/payload/payload.config.ts
Due: prettier --write --ignore-unknown, eslint --fix, stylelint --fix

fix: update vercel env
  next.config.mjs
Due: prettier --write --ignore-unknown

fix: update vercel env (#29)
  next.config.mjs
Due: prettier --write --ignore-unknown

refactor: add links to images and improve styling
  src/components/blocks/gallery.tsx
  src/components/blocks/media-links.tsx
  src/components/blocks/media-stack.tsx
  src/components/blocks/stepper.tsx
  src/components/rich-text/index.tsx
  src/components/ui/payload-image.tsx
  src/components/ui/payload-media.tsx
  src/components/ui/payload-video.tsx
  src/payload/blocks/gallery.ts
  src/payload/blocks/media-links.ts
  src/payload/blocks/section.ts
  src/payload/collections/images.ts
  src/payload/collections/pages.ts
  src/payload/fields/link.ts
  src/payload/migrations/20250419_235903.json
  src/payload/migrations/20250419_235903.ts
  src/payload/migrations/index.ts
  src/payload/payload-types.ts
Due: prettier --write --ignore-unknown, eslint --fix

fix: prevent default focus in navigation
  src/components/navigation.tsx
Due: prettier --write --ignore-unknown, eslint --fix

refactor: replace media links with links in images, update image styling, fix autofocus (#30)
  src/components/blocks/gallery.tsx
  src/components/blocks/media-links.tsx
  src/components/blocks/media-stack.tsx
  src/components/blocks/stepper.tsx
  src/components/navigation.tsx
  src/components/rich-text/index.tsx
  src/components/ui/payload-image.tsx
  src/components/ui/payload-media.tsx
  src/components/ui/payload-video.tsx
  src/payload/blocks/gallery.ts
  src/payload/blocks/media-links.ts
  src/payload/blocks/section.ts
  src/payload/collections/images.ts
  src/payload/collections/pages.ts
  src/payload/fields/link.ts
  src/payload/migrations/20250419_235903.json
  src/payload/migrations/20250419_235903.ts
  src/payload/migrations/index.ts
  src/payload/payload-types.ts
Due: prettier --write --ignore-unknown, eslint --fix

fix(components/ui/button): className override
  src/components/ui/button.tsx
Due: prettier --write --ignore-unknown, eslint --fix

chore: update dependencies
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write --ignore-unknown

fix: className override, update dependencies (#31)
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/components/ui/button.tsx
Due: prettier --write --ignore-unknown, eslint --fix

fix(mux-video): make video publicly accessible and auto-pause after one minute
  src/components/ui/payload-mux-video.tsx
  src/payload/payload.config.ts
Due: prettier --write --ignore-unknown, eslint --fix

fix: correct border color
  src/components/blocks/stepper.tsx
  src/components/footer/faq-section.tsx
  src/components/footer/faqs-loading.tsx
  src/components/ui/accordion.tsx
  src/components/ui/input.tsx
  src/components/ui/popover.tsx
  src/components/ui/radio-group.tsx
  src/components/ui/select.tsx
  src/components/ui/textarea.tsx
Due: prettier --write --ignore-unknown, eslint --fix

feat: add field encryption to forms and clients
  src/payload/collections/clients.ts
  src/payload/collections/form-submissions.ts
  src/payload/hooks/encryption.ts
  src/payload/utilities/crypto.ts
Due: prettier --write --ignore-unknown, eslint --fix

refactor: forms
  src/components/blocks/form/configs/date.ts
  src/components/blocks/form/configs/email.ts
  src/components/blocks/form/configs/phone-number.ts
  src/components/blocks/form/configs/radio.ts
  src/components/blocks/form/configs/select.ts
  src/components/blocks/form/configs/text.ts
  src/components/blocks/form/configs/textarea.ts
  src/components/blocks/form/constants/index.ts
  src/components/blocks/form/fields/date-field.tsx
  src/components/blocks/form/fields/radio-field.tsx
  src/components/blocks/form/fields/select-field.tsx
  src/components/blocks/form/fields/text-field.tsx
  src/components/blocks/form/form.client.tsx
  src/components/blocks/form/index.tsx
  src/components/blocks/form/types/index.ts
  src/payload/blocks/form-fields/date.ts
  src/payload/blocks/form-fields/email.ts
  src/payload/blocks/form-fields/phone-number.ts
  src/payload/blocks/form-fields/radio.ts
  src/payload/blocks/form-fields/select.ts
  src/payload/blocks/form-fields/text.ts
  src/payload/blocks/form-fields/textarea.ts
  src/payload/collections/form-submissions.ts
  src/payload/components/form-submission-email-template.tsx
  src/payload/fields/base-form-fields.ts
  src/payload/payload-types.ts
  src/utils/format-date.ts
Due: prettier --write --ignore-unknown, eslint --fix

chore: update dependencies
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write --ignore-unknown

refactor: remove next-sitemap, use nextjs built-ins
  .gitignore
  next-sitemap.config.cjs
  src/app/robots.ts
  src/app/sitemap.ts
  tsconfig.json
Due: prettier --write --ignore-unknown, eslint --fix

fix: styles
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  src/app/(site)/globals.css
  src/components/rich-text/link-converter.tsx
  src/components/ui/accordion.tsx
Due: prettier --write --ignore-unknown, eslint --fix, stylelint --fix

chore: create migrations
  src/payload/migrations/20250517_155151.json
  src/payload/migrations/20250517_155151.ts
  src/payload/migrations/index.ts
Due: prettier --write --ignore-unknown, eslint --fix
