Repository jesse-lee-media/wedding-day-content-co: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*": "prettier --write",
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.css": "stylelint --fix"
}

fix: update design and styles
  src/components/blocks/messages-marquee.tsx
  src/components/blocks/stepper.tsx
  src/lib/components/blockquote.tsx
  src/lib/components/calendar.tsx
Due: prettier --write, eslint --fix

fix: refactor to use size-* classes where necessary
  src/components/navigation/mobile-menu.tsx
  src/lib/components/icons/index.tsx
  src/lib/components/radio-group.tsx
  src/lib/components/select.tsx
  src/lib/components/sheet.tsx
  src/lib/components/toast.tsx
Due: prettier --write, eslint --fix

fix: remove unnecessary Row component, switch to grid for form
  src/components/inquiry-form/index.tsx
Due: prettier --write, eslint --fix

fix: filter out defined routes in optional catch-all route
  src/app/[[...slug]]/page.tsx
Due: prettier --write, eslint --fix

fix/small issues (#13)
  package-lock.json
  package.json
  src/app/[[...slug]]/page.tsx
  src/components/blocks/messages-marquee.tsx
  src/components/blocks/stepper.tsx
  src/components/inquiry-form/index.tsx
  src/components/navigation/mobile-menu.tsx
  src/lib/components/blockquote.tsx
  src/lib/components/calendar.tsx
  src/lib/components/icons/index.tsx
  src/lib/components/radio-group.tsx
  src/lib/components/select.tsx
  src/lib/components/sheet.tsx
  src/lib/components/toast.tsx
Due: prettier --write, eslint --fix

chore: update dependencies
  package-lock.json
  package.json
Due: prettier --write

chore: update dev tools
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
Due: prettier --write

fix(components/blockquote): update imports
  src/lib/components/blockquote.tsx
Due: prettier --write, eslint --fix

fix/imports (#14)
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  package-lock.json
  package.json
  src/lib/components/blockquote.tsx
Due: prettier --write, eslint --fix

chore: switch to pnpm, update dependencies, add ci lint, remove pre-commit hooks
  .commitlintrc.json
  .github/workflows/ci.yml
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  .prettierignore
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: add next config to api call
  src/lib/api/index.ts
Due: prettier --write, eslint --fix

fix: update inquiry form
  src/components/inquiry-form/index.tsx
Due: prettier --write, eslint --fix

chore: fix lint errors
  src/lib/components/input.tsx
  src/lib/components/sheet.tsx
  src/lib/components/textarea.tsx
  src/lib/hooks/use-toast.tsx
  tailwind.config.ts
Due: prettier --write, eslint --fix

fix: update inquiry form, add next config to api call, update dependencies (#16)
  .commitlintrc.json
  .github/workflows/ci.yml
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  .prettierignore
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/components/inquiry-form/index.tsx
  src/lib/api/index.ts
  src/lib/components/input.tsx
  src/lib/components/sheet.tsx
  src/lib/components/textarea.tsx
  src/lib/hooks/use-toast.tsx
  tailwind.config.ts
Due: prettier --write, eslint --fix

chore: update printWidth and run prettier
  .prettierrc.json
  pnpm-lock.yaml
  src/app/[[...slug]]/page.tsx
  src/app/inquire/page.tsx
  src/app/not-found.tsx
  src/components/blocks/gallery.tsx
  src/components/blocks/hero.tsx
  src/components/blocks/messages-marquee.tsx
  src/components/blocks/quotes.tsx
  src/components/footer/faq-section.tsx
  src/components/footer/index.tsx
  src/components/inquiry-form/index.tsx
  src/components/serialize.tsx
  src/lib/components/blockquote.tsx
  src/lib/components/button.tsx
  src/lib/components/carousel.tsx
  src/lib/components/form.tsx
  src/lib/components/label.tsx
  src/lib/components/marquee.tsx
  src/lib/components/payload-button-link.tsx
  src/lib/components/radio-group.tsx
  src/lib/components/select.tsx
  src/lib/components/spinner.tsx
  src/lib/components/toast.tsx
  src/lib/components/toaster.tsx
  src/lib/types/payload.ts
  src/lib/utils/index.ts
Due: prettier --write, eslint --fix

wip
  package.json
  pnpm-lock.yaml
  src/app/(payload)/admin/importMap.js
  src/app/(payload)/layout.tsx
  src/app/(site)/[[...slug]]/page.tsx
  src/app/(site)/layout.tsx
  src/components/navigation.tsx
  src/env/client.ts
  src/lib/api/pages.ts
  src/lib/components/accordion.tsx
  src/lib/utils/link.ts
  src/payload/fields/link.ts
  src/payload/hooks/add-data-url.ts
  src/payload/hooks/revalidate-global.ts
  src/payload/payload-types.ts
Due: prettier --write, eslint --fix

live preview wip, payload 3.0 updates
  package.json
  pnpm-lock.yaml
  src/app/(payload)/admin/[[...segments]]/not-found.tsx
  src/app/(payload)/admin/[[...segments]]/page.tsx
  src/app/(payload)/api/[...slug]/route.ts
  src/app/(payload)/api/graphql-playground/route.ts
  src/app/(payload)/api/graphql/route.ts
  src/app/(payload)/layout.tsx
  src/app/(site)/[[...slug]]/page.tsx
  src/app/(site)/layout.tsx
  src/app/(site)/next/exit-preview/GET.ts
  src/app/(site)/next/exit-preview/route.ts
  src/app/(site)/next/preview/route.ts
  src/components/blocks/hero.tsx
  src/components/blocks/image-stack.tsx
  src/components/live-preview-listener.tsx
  src/lib/api/pages.ts
  src/lib/components/carousel.tsx
  src/lib/components/payload-button-link.tsx
  src/payload/collections/faqs.ts
  src/payload/collections/forms.ts
  src/payload/collections/media.ts
  src/payload/collections/pages.ts
  src/payload/collections/users.ts
  src/payload/hooks/revalidate-pages.ts
  src/payload/payload-types.ts
  src/payload/payload.config.ts
  src/payload/utils/generate-preview-path.ts
  src/payload/utils/get-client-side-url.ts
  src/payload/utils/get-server-side-url.ts
Due: prettier --write, eslint --fix

convert config files to mjs
  .prettierrc.json
  .stylelintrc.json
  postcss.config.mjs
  prettier.config.mjs
  stylelint.config.mjs
  tailwind.config.mjs
  tsconfig.json
Due: prettier --write

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: live preview
  src/app/(site)/[[...slug]]/page.tsx
  src/app/(site)/layout.tsx
  src/components/live-preview-listener.tsx
  src/payload/collections/pages.ts
  src/payload/utils/generate-preview-path.ts
  src/payload/utils/get-client-side-url.ts
  src/payload/utils/get-server-side-url.ts
Due: prettier --write, eslint --fix

fix: style updates and fixes
  src/components/blocks/button-link.tsx
  src/components/blocks/gallery.tsx
  src/components/blocks/image-links.tsx
  src/components/blocks/index.tsx
  src/components/blocks/messages-marquee.tsx
  src/components/navigation.tsx
  src/lib/components/blockquote.tsx
  src/payload/collections/faqs.ts
  src/payload/collections/forms.ts
  src/payload/globals/footer.ts
  src/payload/globals/navigation.ts
Due: prettier --write, eslint --fix

feat: add form submissions
  src/components/blocks/form/form.action.ts
  src/components/blocks/form/form.client.tsx
  src/components/blocks/form/index.tsx
  src/components/serialize.tsx
  src/lib/components/select.tsx
  src/payload/collections/form-submissions.ts
  src/payload/payload-types.ts
  src/payload/payload.config.ts
Due: prettier --write, eslint --fix

feat: send email after form submission
  package.json
  pnpm-lock.yaml
  src/lib/config/tailwind-email.ts
  src/payload/collections/form-submissions.ts
  src/payload/components/form-submission-email-template.tsx
Due: prettier --write, eslint --fix

refactor: replace serializer with rich text component
  src/app/(payload)/admin/importMap.js
  src/app/(site)/[[...slug]]/page.tsx
  src/components/blocks/form/form.client.tsx
  src/components/blocks/form/index.tsx
  src/components/blocks/index.tsx
  src/components/blocks/quotes.tsx
  src/components/blocks/section.tsx
  src/components/blocks/stepper.tsx
  src/components/footer/faq-accordion.tsx
  src/components/rich-text/block-quote-converter.tsx
  src/components/rich-text/heading-converter.tsx
  src/components/rich-text/horizontal-rule-converter.tsx
  src/components/rich-text/index.tsx
  src/components/rich-text/link-converter.tsx
  src/components/rich-text/list-converter.tsx
  src/components/rich-text/listitem-converter.tsx
  src/components/rich-text/paragraph-converter.tsx
  src/components/rich-text/text-converter.tsx
  src/components/serialize.tsx
  src/payload/payload.config.ts
Due: prettier --write, eslint --fix

chore: update dependencies
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
  src/payload/payload-types.ts
Due: prettier --write, eslint --fix

fix: conditionally render live preview
  src/app/(site)/[[...slug]]/page.tsx
Due: prettier --write, eslint --fix

refactor: resend email env variables
  src/env/server.ts
  src/payload/collections/form-submissions.ts
Due: prettier --write, eslint --fix

feat: add sitemap
  .gitignore
  next-sitemap.config.cjs
  package.json
  pnpm-lock.yaml
  src/app/(site)/(sitemaps)/pages-sitemap.xml/route.ts
  src/app/(site)/layout.tsx
  src/env/client.ts
  src/payload/collections/pages.ts
  tsconfig.json
Due: prettier --write, eslint --fix

chore: update dependencies
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update prettier
  .prettierignore
  prettier.config.mjs
Due: prettier --write

chore: update env variables
  src/payload/payload.config.ts
Due: prettier --write, eslint --fix

fix: aws sdk cloudlfare r2 compatability
  src/payload/payload.config.ts
Due: prettier --write, eslint --fix

fix: small updates
  src/app/(payload)/admin/importMap.js
  src/components/blocks/form/index.tsx
  src/components/blocks/gallery.tsx
  src/components/blocks/hero.tsx
  src/components/footer/faq-section.tsx
  src/components/footer/index.tsx
  src/payload/blocks/stepper.ts
  src/payload/collections/faqs.ts
  src/payload/collections/forms.ts
  src/payload/globals/footer.ts
  src/payload/globals/navigation.ts
  src/payload/payload-types.ts
Due: prettier --write, eslint --fix

fix: small updates
  src/app/(site)/globals.css
  src/components/blocks/form/form.action.ts
  src/components/blocks/form/form.client.tsx
  src/components/blocks/form/index.tsx
  src/components/blocks/gallery.tsx
  src/components/blocks/hero.tsx
  src/components/blocks/image-links.tsx
  src/components/blocks/image-stack.tsx
  src/components/blocks/messages-marquee.tsx
  src/components/blocks/quotes.tsx
  src/components/blocks/section.tsx
  src/components/blocks/stepper.tsx
  src/components/footer/faq-section.tsx
  src/components/navigation.tsx
  src/components/rich-text/link-converter.tsx
  src/lib/components/accordion.tsx
  src/lib/components/blockquote.tsx
  src/lib/components/carousel.tsx
  src/lib/components/polaroid-image.tsx
  src/lib/components/popover.tsx
  src/lib/components/radio-group.tsx
  src/lib/components/select.tsx
  src/lib/components/textarea.tsx
  src/payload/access/index.ts
  src/payload/collections/faqs.ts
  src/payload/collections/form-submissions.ts
  src/payload/collections/forms.ts
  src/payload/collections/users.ts
  src/payload/components/form-submission-email-template.tsx
  src/payload/fields/background.ts
  src/payload/fields/base-form-fields.ts
  src/payload/fields/buttonLink.ts
  src/payload/fields/link.ts
  src/payload/payload-types.ts
  src/payload/payload.config.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat: upgrade to tailwind v4
  package.json
  pnpm-lock.yaml
  postcss.config.mjs
  prettier.config.mjs
  src/app/(site)/globals.css
  src/app/(site)/layout.tsx
  src/components/blocks/form/index.tsx
  src/components/blocks/gallery.tsx
  src/components/blocks/hero.tsx
  src/components/blocks/image-stack.tsx
  src/components/blocks/messages-marquee.tsx
  src/components/blocks/quotes.tsx
  src/components/blocks/section.tsx
  src/components/blocks/stepper.tsx
  src/components/footer/faq-section.tsx
  src/components/footer/index.tsx
  src/components/navigation.tsx
  src/components/rich-text/link-converter.tsx
  src/lib/components/accordion.tsx
  src/lib/components/blockquote.tsx
  src/lib/components/button.tsx
  src/lib/components/calendar.tsx
  src/lib/components/carousel.tsx
  src/lib/components/input.tsx
  src/lib/components/marquee.tsx
  src/lib/components/payload-image.tsx
  src/lib/components/polaroid-image.tsx
  src/lib/components/popover.tsx
  src/lib/components/radio-group.tsx
  src/lib/components/select.tsx
  src/lib/components/textarea.tsx
  src/lib/components/toaster.tsx
  src/payload/components/form-submission-email-template.tsx
  stylelint.config.mjs
  tailwind.config.mjs
Due: prettier --write, eslint --fix, stylelint --fix
